/* *{
    margin: 0;
    padding: 0;
} */


h3{
    background-color: aquamarine;
    text-align: center;
    margin: 20px solid tomato;
    font-size: larger;
}

.three{
    background-color: blanchedalmond;
    margin: 20px;
    border: 10px solid tomato;
    border-radius: 5px;
    padding: 20px;

}
h5{
    text-align: center;
    background-color:cornflowerblue;
    font-size: larger;
}
#para{
    border: 10px solid tomato;
}